<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>675919602915-d7e43n3klcr456jg9eg1pmrsslv4vo0p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.675919602915-d7e43n3klcr456jg9eg1pmrsslv4vo0p</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>675919602915-3t5drfm2kd3mc7v6a8cnvm0ikgek4skm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBCdB3f6wfop3BXjt0lOVFmn8VOyiufMxU</string>
	<key>GCM_SENDER_ID</key>
	<string>675919602915</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.handover</string>
	<key>PROJECT_ID</key>
	<string>testing-3a5ec</string>
	<key>STORAGE_BUCKET</key>
	<string>testing-3a5ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:675919602915:ios:9823bff9970b66bdded1d6</string>
	<key>DATABASE_URL</key>
	<string>https://testing-3a5ec.firebaseio.com</string>
</dict>
</plist>